* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-family: bahnschrift;
  height: 100vh;
}

article, aside, details, div, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
		text-align: center;
}

header {
  background: #6307c3;
  color: white;
  padding: 35px 0;
}
h1 {
  text-transform: uppercase;
  font-size: 3.75em;
  width: 350px;
  margin: auto;
  font-stretch: condensed;
  line-height: .85em;
}
h2 {
  padding: 35px;
  color: #6307c3;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  text-align: center;
}
main {
  display: flex;
  margin: auto;
}
article {
  text-align: center;
  width: 33.333%;
  max-width: 280px;
  height: 230px;
  margin: auto;
}
div {
  width: 85%;
  height: 100%;
	margin: auto;
	background-color: rgba(210,210,210,0.55);
	border-radius: 5px;
  border: solid 10px #6307c3;
	box-shadow: 10px 10px 15px rgba(195,195,195,.65);
}
#box-1 {
  background-color: #fcff00;
}
#box-2 {
  background-color: #91ead6;
}
#box-3 {
  background-color: #cff305;
}
p {
  text-align: center;
  vertical-align: middle;
  line-height: 230px;
  font-size: 7.5em;
  color: #6307c3;
  font-stretch: ultra-condensed;
}
@media  (max-width: 760px) {
    div {
      width: 75%;
      height: 60%;
  }
    p {
      line-height: 150px;
  }
}
@media (max-width: 488px) {
    div {
      height: 50%;
  }
    p {
      line-height: 130px;
  }
}
@media  (min-width: 1000px) {
    main {
      width: 95%;
  }
}
@media  (min-width: 1300px) {
    main {
      width: 75%;
  }
    p {
      font-size: 8.5em;
      font-weight: 600;
    }
}
