* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-family: bahnschrift;
  height: 100vh;
}

article, aside, details, div, figcaption, figure, footer, header, main, nav, section, summary {
    display: block;
		text-align: center;
}

header {
  background: #6307c3;
  color: white;
  padding: 35px 0;
}
h1 {
  text-transform: uppercase;
  font-size: 3.75em;
  width: 350px;
  margin: auto;
  font-stretch: condensed;
}

h2 {
  padding: 35px;
  color: #6307c3;
  text-transform: uppercase;
  font-stretch: ultra-condensed;
  text-align: center;
}

main {
  display: flex;
  margin: auto;
}

article {
  text-align: center;
  width: 33.333%
}

div {
  max-width: 80%;
  width: 200px;
  height: 200px;
	margin: auto;
	background-color: rgba(210,210,210,0.55);
	border-radius: 5px;
  border: solid 10px #6307c3;
	box-shadow: 10px 10px 15px rgba(195,195,195,.65);
}

p {
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  font-size: 7.5em;
  color: #6307c3;
  font-stretch: ultra-condensed;
}
